#search-bar {
  lost-column: 1;
  min-height: 40px;
  margin-top: 30px;

  &-inner {
    lost-column: 6/12;
    lost-move: 3/12;
    min-height: 30px;
    input {
      width: 100%;
      min-height: 40px;
      font-size: 20px;
      letter-spacing: 0.01em;
      padding-left: 3px;
      box-sizing: border-box;
    }
  }

}

#search-results {
  lost-column: 6/12;
  lost-move: 3/12;
}

.search-result-item {
  background-color: #EEEEEE;
  padding: 0.4em;
  margin-top: 0.5em;
  line-height: 24px;

  tag {
    background-color: yellow;
  }
}

